.app-collection {
    border: 1px solid #000000;
}

.app-collection .collection-item {
    background-color: #ffeb3b;
    border-bottom: 1px solid #000000;
}

.app-collection .app-icon {
    padding-left: calc(2rem + 40px);
}

.app-collection .app-icon .mdi {
    position: absolute;
    left: 20px;
    font-size: 2rem;
}

.app-collection .app-icon.app-icon-mt2 .mdi {
    margin-top: 0.7rem;
}

.app-collection .app-title {
    font-size: 0.8rem;
    color: #757575;
}

.app-collection .app-button {
    font-family: BlenderProBold;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.app-collection .app-disabled {
    color: #757575;
}

.app-collection .app-button:hover {
    color: #ffeb3b;
    background-color: #000000;
}

.app-collection .app-button:hover.app-disabled {
    color: #ffeb3b;
    background-color: #757575;
    cursor: not-allowed;
}