.gallery-scrollbar-overlay {
    overflow-y: overlay;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: #00e5ff;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #f44336;
}
